@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  background: #4aa;
}

.chart {
  width: 100%;
}

.chart__head {
  background: #fc6;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-weight: 500;
}

.chart__head .left,
.chart__head .right {
  display: block;
  width: 100%;
  text-align: center;
}

.chart .graph {
  height: 300px;
}

.chart .graph__header {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.chart .graph__header .views {
  padding: 0 10px;
  padding-left: 50px;
  position: relative;
}

.chart .graph__header .views::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% - 2.5px);
  height: 5px;
  width: 20px;
  background: #fa7373;
  border-radius: 5px;
}

.chart .graph__header .purchases {
  padding: 0 10px;
  padding-left: 50px;
  position: relative;
}

.chart .graph__header .purchases::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% - 2.5px);
  height: 5px;
  width: 20px;
  background: #7ba2ff;
  border-radius: 5px;
}

.chart .graph__body {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart .graph__body .row {
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0.575);
  margin: 20px 0;
}

.chart .graph__body .line--blue svg {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 0;
  bottom: 0px;
  text-align: center;
}

.chart .graph__body .line--blue svg polyline {
  fill: none;
  stroke: #7ba2ff;
  stroke-width: 2;
  stroke-linecap: round;
}

.chart .graph__body .line--blue .dot {
  background-color: #7ba2ff;
}

.chart .graph__body .line--blue .dot--1 {
  top: 256px;
  left: 47px;
}

.chart .graph__body .line--blue .dot--2 {
  top: 246px;
  left: 86px;
}

.chart .graph__body .line--blue .dot--3 {
  top: 261px;
  left: 127px;
}

.chart .graph__body .line--blue .dot--4 {
  top: 252px;
  left: 167px;
}

.chart .graph__body .line--blue .dot--5 {
  top: 258px;
  left: 206px;
}

.chart .graph__body .line--blue .dot--6 {
  top: 270px;
  left: 246px;
}

.chart .graph__body .line--blue .dot--7 {
  top: 260px;
  left: 287px;
}

.chart .graph__body .line--blue .dot .value {
  background-color: #7ba2ff;
}

.chart .graph__body .line--red svg {
  position: absolute;
  top: 45%;
  left: 10%;
  right: 0;
  bottom: 0px;
  text-align: center;
}

.chart .graph__body .line--red svg polyline {
  fill: none;
  stroke: #fa7373;
  stroke-width: 2;
  stroke-linecap: round;
}

.chart .graph__body .line--red .dot {
  background-color: #fa7373;
}

.chart .graph__body .line--red .dot--1 {
  top: 222px;
  left: 47px;
}

.chart .graph__body .line--red .dot--2 {
  top: 188px;
  left: 86px;
}

.chart .graph__body .line--red .dot--3 {
  top: 199px;
  left: 127px;
}

.chart .graph__body .line--red .dot--4 {
  top: 188px;
  left: 167px;
}

.chart .graph__body .line--red .dot--5 {
  top: 213px;
  left: 206px;
}

.chart .graph__body .line--red .dot--6 {
  top: 223px;
  left: 246px;
}

.chart .graph__body .line--red .dot--7 {
  top: 196px;
  left: 287px;
}

.chart .graph__body .line--red .dot .value {
  background-color: #fa7373;
}

.chart .graph .dot {
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
}

.chart .graph .dot .value {
  font-size: 12px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fa7373;
  color: white;
  position: absolute;
  top: -10px;
  right: -19px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 12px;
}

.chart .graph .dot:hover {
  cursor: pointer;
}

.chart .graph .dot:hover .value {
  opacity: 1;
  top: -25px;
}

.chart .graph__footer {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=day-5-styles.css.map */