// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #4aa;
}

.chart {
  width: 100%;
  &__head {
    background: #fc6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: white;
    font-weight: 500;

    .left,
    .right {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .graph {
    height: 300px;

    &__header {
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: end;
      

      .views {
        padding: 0 10px;
        padding-left: 50px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: calc(50% - 2.5px);
          height: 5px;
          width: 20px;
          background: #fa7373;
          border-radius: 5px;
        }
      }
      .purchases {
        padding: 0 10px;
        padding-left: 50px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: calc(50% - 2.5px);
          height: 5px;
          width: 20px;
          background: #7ba2ff;
          border-radius: 5px;
        }
      }
    }
    &__body {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .row {
        width: 90%;
        height: 2px;
        border-radius: 5px;
        background: rgba(238, 238, 238, 0.575);
        margin: 20px 0;
      }

      .line {
        &--blue {
          svg {
            position: absolute;
            top: 50%;
            left: 10%;
            right: 0;
            bottom: 0px;

            text-align: center;

            polyline {
              fill: none;
              stroke: #7ba2ff;
              stroke-width: 2;
              stroke-linecap: round;
            }
          }
          .dot {
            background-color: #7ba2ff;
            &--1 {
              top: 256px;
              left: 47px;
            }
            &--2 {
              top: 246px;
              left: 86px; 
            }
            &--3 {
              top: 261px;
              left: 127px; 
            }
            &--4 {
              top: 252px;
              left: 167px; 
            }
            &--5 {
              top: 258px;
              left: 206px; 
            }
            &--6 {
              top: 270px;
              left: 246px; 
            }
            &--7 {
              top: 260px;
              left: 287px; 
            }
            .value {
              background-color: #7ba2ff;
            }
          }
        }
        &--red {
          svg {
            position: absolute;
            top: 45%;
            left: 10%;
            right: 0;
            bottom: 0px;

            text-align: center;
            polyline {
              fill: none;
              stroke: #fa7373;
              stroke-width: 2;
              stroke-linecap: round;
            }
          }
          .dot {
            background-color: #fa7373;
            &--1 {
              top: 222px;
              left: 47px;
            }
            &--2 {
              top: 188px;
              left: 86px; 
            }
            &--3 {
              top: 199px;
              left: 127px; 
            }
            &--4 {
              top: 188px;
              left: 167px; 
            }
            &--5 {
              top: 213px;
              left: 206px; 
            }
            &--6 {
              top: 223px;
              left: 246px; 
            }
            &--7 {
              top: 196px;
              left: 287px; 
            }
            .value {
              background-color: #fa7373;
            }
          }
        }
      }
    }

    .dot {
      position: absolute;
      height: 7px;
      width: 7px;
      background-color: black;
      border-radius: 50%;
      z-index: 10;

     
      .value {
        font-size: 12px;
        height: max-content;
        width: max-content;
        background-color: #fa7373;
        color: white;
        position: absolute;
        top: -10px;
        right: -19px;
        opacity: 0;
        transition: 0.5s;

        border-radius: 5px;
        padding: 3px 5px;
        font-size: 12px;
      }
      &:hover {
        cursor:pointer;
        .value {
          opacity: 1;
          top: -25px;
        }
      }
    }

    &__footer {
      height: 15%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
