// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: #4aa;
}

.chart {
  width: 100%;
  &__head {
    background: #fc6;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left,
    .right {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .graph {
    height: 300px;

    &__header {
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: end;

      .views {
        padding: 0 10px;
        padding-left: 50px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: calc(50% - 2.5px);
          height: 5px;
          width: 20px;
          background: #fa7373;
          border-radius: 5px;
        }
      }
      .purchases {
        padding: 0 10px;
        padding-left: 50px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          top: calc(50% - 2.5px);
          height: 5px;
          width: 20px;
          background: #7ba2ff;
          border-radius: 5px;
        }
      }
    }
    &__body {
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .row {
        width: 90%;
        height: 2px;
        border-radius: 5px;
        background: rgba(238, 238, 238, 0.575);
        margin: 20px 0;
      }

      .line {
        &--blue {
          svg {
            position: absolute;
            top: 50%;
            left: 10%;
            right: 0;
            bottom: 0px;

            text-align: center;
            polyline {
              fill: none;
              stroke: #7ba2ff;
              stroke-width: 2;
              stroke-linecap: round;
            }
          }
        }
      }
      .line {
        &--red {
          svg {
            position: absolute;
            top: 50%;
            left: 10%;
            right: 0;
            bottom: 0px;

            text-align: center;
            polyline {
              fill: none;
              stroke: #fa7373;
              stroke-width: 2;
              stroke-linecap: round;
            }
          }
        }
      }
    }

    &__footer {
      height: 15%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
