@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #786450;
}

.leftSide {
  -ms-grid-column: 1;
      grid-column-start: 1;
  padding-top: 90px;
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.leftSide .img-wrapper:hover .border--inner {
  -webkit-animation: cwSpin;
          animation: cwSpin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.leftSide .img-wrapper:hover .border--outer {
  -webkit-animation: ccwSpin;
          animation: ccwSpin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.leftSide .img-wrapper .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leftSide .img-wrapper .img-container img {
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: -100px;
}

.leftSide .img-wrapper .img-container .border {
  position: absolute;
  border-radius: 50%;
  border: 2px solid brown;
}

.leftSide .img-wrapper .img-container .border--inner {
  height: 100px;
  width: 100px;
  top: -107px;
  border-left: 2px solid transparent;
}

.leftSide .img-wrapper .img-container .border--outer {
  height: 120px;
  width: 120px;
  top: -115px;
  border-right: 2px solid transparent;
}

.rightSide {
  -ms-grid-column: 3;
      grid-column-start: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  text-align: center;
}

.rightSide .panel {
  background-color: #f5e8df;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rightSide .panel h3 {
  margin-bottom: 0px;
  padding-top: 10px;
}

.rightSide .panel p {
  margin-top: 0px;
  padding-bottom: 15px;
  font-size: 12px;
}

.rightSide .panel--likes {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.rightSide .panel:hover {
  background-color: #e1cfc2;
  cursor: pointer;
}

@-webkit-keyframes cwSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes cwSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ccwSpin {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes ccwSpin {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=day-6-styles.css.map */